.navbar-languages.component_navbar_dropdown{
    display: none!important;
    justify-content: center;
    background-color: #f0f6fb;
}

.component-footer__public{
    margin-bottom: 0px!important;
    padding-bottom: 0px!important;
    min-height: 40px!important;
}

.navbar-dropdown__name{
    justify-content: center!important;
}

.wrap_list{
    display: flex;
    justify-content: center;   
    margin: auto; 
}

.navbar-dropdown__container.dropdown-menu{
    min-width: auto!important;
    border-radius: 5px;
    border: 1px solid #00000026;
    box-shadow: 0px 0px 25px 5px #d9d9d9;
}

@media (min-width:991px){

    .navbar-dropdown__container.dropdown-menu{
        transform: translate3d(-41px, -214px, 0px)!important;
    }
    
}

@media (max-width:991px){

    .navbar-dropdown__container.dropdown-menu{
        left: -30px!important;
    }

    .navbar-dropdown__name{
        width: max-content!important;
        margin: auto;
    }
}


.scroll_listt{
    max-height: 210px;
    width: max-content;
    overflow-y: auto;
    margin-right: 3px;    
    overflow-x: hidden;
}

.navbar-dropdown__item a{
    text-align: center;
}

.scroll_list li:hover {
    background-color: #dbdbdb;
}

.hiden{
    display: none!important;
}

/* .alert-dismissible{
    display: none!important;
} */

#dropdown-category-filter-56, 
#dropdown-category-filter-77{
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding-top: 9px!important;
    padding-bottom: 9px!important;
}

#filter-56-title{
    margin-left: 8px;
}

.header-label-ID{
    display: none;
}

.header-label-Service{
    padding-left: 25px!important;
}

.data-label-ID{
    display: none;
}

.data-label-Service{
    padding-left: 25px!important;
}

.services-filter__active-category{
    display: none!important;
}

.block-bg{
    background-color:#e7edf5!important;
}

#block_43 .component_navbar .component-navbar-nav-link{
    justify-content: center!important;
}

.modal-dialog{
    position: fixed;
    top: 33vh;
}

#dropdown-category-filter-77{
    justify-content: space-between!important;
}

.table tbody tr td:first-child {
    padding-left: 26px!important;
}

#service-tbody:not(.rended){
    visibility: hidden;
}

#amount-converted{
    display: none!important;
}

#amount-converted-icon{
    display: none!important;
}

#amount_label_currency{
    display: none!important;
}