@media (max-width: 990.98px) {

    .data-label-Favorite, 
    .data-label-ID, 
    .data-label-Min,
    .data-label-Max {
        display:none!important;
    }

    .data-label-Service::before,
    .data-label-Rate::before{
        display: none!important;
    }

    .services-category{
        background-color: #e7edf5!important;
        text-align: left!important;
    }

    .w-100{
        word-break: auto-phrase!important;
    } 

    .w-100 h4{
        text-align: center!important;
    }

    .w-100 h4 .align-middle{
        text-align: center;
        width: fit-content!important;
    }

    .data-label-Service {
        padding-top: 15px!important;
        padding-left: 8px!important;
        border: none!important;
        text-align: center!important;
        background-color: #f0f6fb!important;
        border-top-left-radius: 15px!important;
        border-top-right-radius: 15px!important;
        word-break: auto-phrase!important;
    }
    

    .data-label-Rate{
        text-align: center!important;
        background-color: #f0f6fb!important;
        border: none!important;
        padding-top: 0px!important;
        padding-bottom: 0px!important;
        min-height: 20px!important;
        font-weight: 600!important;
    }

    .services-list__description{
        background-color: transparent !important;
        text-align: center!important;
        border: none!important;
        background-color: #f0f6fb!important;
        border-bottom-left-radius: 15px!important;
        border-bottom-right-radius: 15px!important;
        padding-bottom: 15px!important;
    }

    #service-tbody>tr{
        background-color: #e7edf5!important;
        padding-bottom: 15px!important;
    }

    .w-100 h4{
        justify-content: center!important;
    }

    .w-100.dropdown-toggle{
        text-align: center!important;
    }

}


@media (max-width: 767.98px) {

    .services-filters .dropdown-menu{
        min-width: -webkit-fill-available!important;
    }

}